<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio</title>
    <link href="./static/style.css" rel="stylesheet"></head>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">
</head>

<body>
<nav class="nav" id="navbar">
    <ul>
        <li><a href="#home">About me</a></li>
        <li><a href="#projects">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
<section class="container" id="welcome-section">
    <h1 id="home">Hello I'm Viorica</h1>
    <p class="project-header">a Java Script student</p>
    <img alt="profile-photo" class="photo-profile" src="https://i.ibb.co/WBGXq46/photo5291824343954864636.jpg">

    <section id="projects">
        <h2 class="projects-section">These are some of my projects</h2>
        <div class="projects-grid">
            <a class="project" href="https://codepen.io/vioricafoca/pen/pormJej" target="_blank">
                <img alt="my project" class="project-image" src="https://i.ibb.co/Jmz8pbz/css.png">
                <p class="project-title">Tribute Page</p>
            </a>
            <a class="project" href="https://codepen.io/vioricafoca/pen/YzxbWNo" target="_blank">
                <img alt="form project" class="project-image" src="https://i.ibb.co/G0MpDgY/form.png">
                <p class="project-title">Survey Form</p>
            </a>
            <a class="project" href="https://codepen.io/vioricafoca/pen/yLzBzbG" target="_blank">
                <img alt="survey form" class="project-image" src="https://i.ibb.co/g7MRnpT/product.png">
                <p class="project-title">Product Landing Page</p>
            </a>
            <a class="project" href="https://codepen.io/vioricafoca/pen/zYEvqzW" target="_blank">
                <img alt="technical page" class="project-image" src="https://i.ibb.co/5jP183h/technik.png">
                <p class="project-title">Technical Documentation Page</p>
            </a>
            <a class="project" href="https://codepen.io/vioricafoca/pen/wvrKNwL" target="_blank">
                <img alt="personal portfolio" class="project-image" src="https://i.ibb.co/hZKxFZf/portfoliu.png">
                <p class="project-title">Personal Portfolio Webpage</p>
            </a>
        </div>
    </section>
</section>
<section class="contact-section" id="contact">
    <h2>Let's grow together...</h2>
    <div class="contact-section-header">
        <span class="red-text">STUDY </span><span class="green-text">WORK </span><span class="blue-text">DEVELOP </span>
    </div>
    <div class="contact-links">
        <a class="link contact-details" href="#" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
        <a class="link contact-details" href="#" target="_blank"><i class="fab fa-github"></i> GitHub</a>
        <a class="link contact-details" href="mailto:example@example.com"><i class="fas fa-at"></i> Send a mail</a>
    </div>
</section>
</body>

</html>
